body{
	margin: 0;
	padding: 0;
}
div {
	height: 200px;
	width: 200px;
}

.rojo{
	background: red;
	position: static;
	left: 50px;
}
.azul{
	background: blue;
	position: relative;
	left: 200px;
}
.verde{
	background: green;
	position: static;
	left: 50px;
}
