body{
	margin: 0;
	padding: 0;
}
div {
	height: 200px;
	width: 200px;
}

.rojo{
	background: red;
	position:absolute;
	left: 0px;
	top: 0px;
}
.azul{
	background: blue;
	position: absolute;
	right: 0px;
	top: 0px;
}
.verde{
	background: green;
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.amarillo {
	background: yellow;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
